- if @@question_next_yes.question_yes == true
  - if @@question_next_yes.id != @question_first.id
    - if !@@arr.include?(@@question_next_yes.id)

      //Affiche le YES
      %br
      %span{style: "margin-left: "+@@margin.to_s+"px;"}
        = label_tag "YES :"
      - if @question.id == @@question_next_yes.id
        %b
          %u= @@question_next_yes.title_question
      - else
        = @@question_next_yes.title_question
       
        - @@arr << @@question_next_yes.id
        - if !@@question_next_yes.id.nil?
          %br
          %span{style: "margin-left: "+@@margin.to_s+"px;"}
            - if !@@question_next_yes.id_route_no?
              = link_to 'proposer reponse', decision_tree_question_path(@decision_tree,@@question_next_yes.id)
              |
            = link_to 'modifier question', edit_decision_tree_question_path(@decision_tree,@@question_next_yes.id)
            - if !@@question_next_yes.id_route_no?
              |
              = link_to 'supprimer', delete_decision_tree_question_path(@decision_tree,@@question_next_yes.id), style: "color:red;"
              %span.label.label-info{style: "margin-left: 10px;"} FIN
- else
  - if @@question_next_yes.id != @question_first.id
    //AFFICHE LE NO
    - if !@@arr.include?(@@question_next_yes.id)
      %br
      %span{style: "margin-left: "+@@margin.to_s+"px;"}
        = label_tag "NO :"
      - if @question.id == @@question_next_yes.id
        %b
          %u= @@question_next_yes.title_question
      - else
        = @@question_next_yes.title_question
        
        - @@arr << @@question_next_yes.id
        - if !@@question_next_yes.id.nil?
          %br
          %span{style: "margin-left: "+@@margin.to_s+"px;"}
            - if !@@question_next_yes.id_route_no?
              = link_to 'proposer reponse', decision_tree_question_path(@decision_tree,@@question_next_yes.id)
              |
            = link_to 'modifier question', edit_decision_tree_question_path(@decision_tree,@@question_next_yes.id)
            - if !@@question_next_yes.id_route_no?
              |
              = link_to 'supprimer', delete_decision_tree_question_path(@decision_tree,@@question_next_yes.id), style: "color:red;"
              %span.label.label-info{style: "margin-left: 10px;"} FIN
