- if @@question_next_no.question_yes == true
  - if @@question_next_no.id != @question_first.id
    //Affiche le YES
    - if !@@arr.include?(@@question_next_no.id)
      %br
      %span{style: "margin-left: "+@@margin.to_s+"px;"}
        = label_tag "YES :"
      - if @question.id == @@question_next_no.id
        %b
          %u= @@question_next_no.title_question
      - else
        = @@question_next_no.title_question
        - @@arr << @@question_next_no.id
        - if !@@question_next_no.id.nil?
          %br
          %span{style: "margin-left: "+@@margin.to_s+"px;"}
            - if !@@question_next_no.id_route_no?
              = link_to 'proposer reponse', decision_tree_question_path(@decision_tree,@@question_next_no.id)
              |
              - @@bool_questions_end = true
            = link_to 'modifier question', edit_decision_tree_question_path(@decision_tree,@@question_next_no.id)
            - if !@@question_next_no.id_route_no? && @@question_next_no.id != @question_first.id_route_no && @@question_next_no.id != @question_first.id_route_yes
              |
              = link_to 'supprimer', delete_decision_tree_question_path(@decision_tree,@@question_next_no.id), style: "color:red;"
              %span.label.label-info{style: "margin-left: 10px;"} FIN
        -  @@question_next_no = Question.find_by id_route_yes: @@question_next_no.id
        -  @@question_next_no = Question.find_by id: @@question_next_no.id_route_no
- else
  - if @@question_next_no.id != @question_first.id
    - if !@@arr.include?(@@question_next_no.id)
      //AFFICHE LE NO
      %br
      %span{style: "margin-left: "+@@margin.to_s+"px;"}
        = label_tag "NO :"
      - if @question.id == @@question_next_no.id
        %b
          %u= @@question_next_no.title_question
      - else
        = @@question_next_no.title_question
        
        - @@arr << @@question_next_no.id
        - if !@@question_next_no.id.nil?
          %br
          %span{style: "margin-left: "+@@margin.to_s+"px;"}
            - if !@@question_next_no.id_route_no?
              = link_to 'proposer reponse', decision_tree_question_path(@decision_tree,@@question_next_no.id)
              |
            = link_to 'modifier question', edit_decision_tree_question_path(@decision_tree,@@question_next_no.id)
            - if !@@question_next_no.id_route_no? && @@question_next_no.id != @question_first.id_route_no && @@question_next_no.id != @question_first.id_route_yes
              |
              = link_to 'supprimer', delete_decision_tree_question_path(@decision_tree,@@question_next_no.id), style: "color:red;"
              %span.label.label-info{style: "margin-left: 10px;"} FIN
        -  @@question_next_no = Question.find_by id_route_no: @@question_next_no.id
        -  @@question_next_no = Question.find_by id: @@question_next_no.id_route_yes