/ %h1 Question#NEW
.container
  .row
    .col-sm-10
      %h2= @decision_tree.title_decision_tree

      / = @decision_tree.title_decision_trees
    - if current_user.is? :ADMIN
      .col-sm-1
        = button_to 'modifier le nom arbre décision',edit_decision_tree_path(@decision_tree), class: "btn btn btn-primary", :method => :get

    %br
    %br
    Temps écoulé : 
    %input#Compteur.modification{:name => "TempsAction",:onload => "load()", :style => "width:95px;", :type => "text", :value => "00 : 00 : 00",disabled: true}
/ = @decision_tree.id



//-------------------------------------------------- PARTIE ADMIN --------------------------------------------------
- if current_user.is? :ADMIN
  / = puts @question.to_ya
  .container
    .row
      .col-md-8
        - @@arr = Array.new   
        - puts @question_first.to_yaml      
        - if !@question_first.nil?
          = label_tag "Titre Question :" 
          / - puts @question_first.title_question
          / - puts '***************************************************'
          = @question_first.title_question
          - @@arr << @question_first.id
          %br
          = link_to 'modifier question', edit_decision_tree_question_path(@decision_tree,@question_first.id)
          - puts '*******************************************'
          / - puts @question_first.to_yaml
          - puts '*******************************************'
          - @@question_next_yes = Question.find_by id: @question_first.id_route_yes
          - @@question_next_no =  Question.find_by id: @question_first.id_route_no
          - @@margin = 10
          - puts '44444444444'
          - puts @@question_next_yes.to_yaml
          - puts @@question_next_no.to_yaml
          />>>>>>>>>> Premier While Question_next_YES <<<<<<<<<<
          - while @@question_next_yes.id_route_yes?
            - if @@question_next_yes.id_route_yes?
              - if @@question_next_yes.title_question != @question_first.title_question
                - @@margin = @@margin + 40
                / - if @@question_next_yes.question_yes == true
                /   //Affiche le YES
                /   %br
                /   %span{style: "margin-left: "+@@margin.to_s+"px;"}
                /     = label_tag "YES :"
                /   = @@question_next_yes.title_question
                /   - @@arr << @@question_next_yes.id
                /   - if !@@question_next_yes.id.nil?
                /     %br
                /     %span{style: "margin-left: "+@@margin.to_s+"px;"}
                /       - if !@@question_next_yes.id_route_no?
                /         = link_to 'proposer reponse', decision_tree_question_path(@decision_tree,@@question_next_yes.id)
                /         |
                /       = link_to 'modifier question', edit_decision_tree_question_path(@decision_tree,@@question_next_yes.id)
                / - else
                /   //AFFICHE LE NO
                /   %br
                /   %span{style: "margin-left: "+@@margin.to_s+"px;"}
                /     = label_tag "NO :"
                /   = @@question_next_yes.title_question
                /   - @@arr << @@question_next_yes.id
                /   - if !@@question_next_yes.id.nil?
                /     %br
                /     %span{style: "margin-left: "+@@margin.to_s+"px;"}
                /       - if !@@question_next_yes.id_route_no?
                /         = link_to 'proposer reponse', decision_tree_question_path(@decision_tree,@@question_next_yes.id)
                /         |
                /       = link_to 'modifier question', edit_decision_tree_question_path(@decision_tree,@@question_next_yes.id)
                = render "affiche_questions_yes" 
                - @@question_next_yes = Question.find_by id: @@question_next_yes.id_route_yes
                - puts '22222222222222222222222222222222222222222222'
                - puts  @@question_next_yes .to_yaml

          - @@margin = @@margin + 40 
          / - if @@question_next_yes.question_yes == true
          /   //Affiche le YES
            
          /   %br
          /   %span{style: "margin-left: "+@@margin.to_s+"px;"}
          /     = label_tag "YES :"
          /   = @@question_next_yes.title_question
          /   - @@arr << @@question_next_yes.id
          /   - if !@@question_next_yes.id.nil?
          /     %br
          /     %span{style: "margin-left: "+@@margin.to_s+"px;"}
          /       - if !@@question_next_yes.id_route_no?
          /         = link_to 'proposer reponse', decision_tree_question_path(@decision_tree,@@question_next_yes.id)
          /         |
          /       = link_to 'modifier question', edit_decision_tree_question_path(@decision_tree,@@question_next_yes.id)
          /     -  @@question_next_yes = Question.find_by id_route_yes: @@question_next_yes.id
          /     -  @@question_next_yes = Question.find_by id: @@question_next_yes.id_route_no
          / - else
            
          /   //AFFICHE LE NO
          /   %br
          /   %span{style: "margin-left: "+@@margin.to_s+"px;"}
          /     = label_tag "NO :"
          /   = @@question_next_yes.title_question
          /   - @@arr << @@question_next_yes.id
          /   - if !@@question_next_yes.id.nil?
          /     %br
          /     %span{style: "margin-left: "+@@margin.to_s+"px;"}
          /       - if !@@question_next_yes.id_route_no?
          /         = link_to 'proposer reponse', decision_tree_question_path(@decision_tree,@@question_next_yes.id)
          /         |
          /       = link_to 'modifier question', edit_decision_tree_question_path(@decision_tree,@@question_next_yes.id)
          /     -  @@question_next_yes = Question.find_by id_route_no: @@question_next_yes.id
          /     -  @@question_next_yes = Question.find_by id: @@question_next_yes.id_route_yes
          = render "affiche_questions_yes_2"



          / - if @@question_next_yes.question_yes == true
          /   //Affiche le YES
          /   %br
          /   %span{style: "margin-left: "+@@margin.to_s+"px;"}
          /     = label_tag "YES :"
          /   = @@question_next_yes.title_question
          /   - @@arr << @@question_next_yes.id
          /   - if !@@question_next_yes.id.nil?
          /     %br
          /     %span{style: "margin-left: "+@@margin.to_s+"px;"}
          /       - if !@@question_next_yes.id_route_no?
          /         = link_to 'proposer reponse', decision_tree_question_path(@decision_tree,@@question_next_yes.id)
          /         |
          /       = link_to 'modifier question', edit_decision_tree_question_path(@decision_tree,@@question_next_yes.id)
          /     -  @@question_next_yes = Question.find_by id_route_yes: @@question_next_yes.id
          /     - @@margin = @@margin - 40
          / - else
          /   //AFFICHE LE NO
          /   %br
          /   %span{style: "margin-left: "+@@margin.to_s+"px;"}
          /     = label_tag "NO :"
          /   = @@question_next_yes.title_question
          /   - @@arr << @@question_next_yes.id
          /   - if !@@question_next_yes.id.nil?
          /     %br
          /     %span{style: "margin-left: "+@@margin.to_s+"px;"}
          /       - if !@@question_next_yes.id_route_no?
          /         = link_to 'proposer reponse', decision_tree_question_path(@decision_tree,@@question_next_yes.id)
          /         |
          /       = link_to 'modifier question', edit_decision_tree_question_path(@decision_tree,@@question_next_yes.id)
          /     - @@question_next_yes = Question.find_by id_route_no: @@question_next_yes.id
          /     - @@margin = @@margin - 40 
          /     - puts '***********************************************'
          /     - puts '***********************************************'
          /     - puts @@question_next_yes.to_yaml
          = render "affiche_questions_yes_3"  

          - bool_yes = true
          - while @@question_next_yes.id != @question_first.id && bool_yes == true
            - if @@question_next_yes.id_route_no?
              / - puts '*************************************************'
              / - puts @@question_next_yes.to_yaml
              - puts '*************************************************'
              - puts @@arr.to_yaml
              - puts 'ARR INCLUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUDE'
              - puts !@@arr.include?(@@question_next_yes.id_route_no)
              - puts "QUESTION NEEEEXT YESSSSSs"
              - puts @@question_next_yes.to_yaml
              - if !@@arr.include?(@@question_next_yes.id_route_no)
                - @@question_next_yes = Question.find_by id: @@question_next_yes.id_route_no
                - if @@question_next_yes.id_route_yes?
                  - while @@question_next_yes.id_route_yes?
                    - if @@question_next_yes.id_route_yes?
                      - @@margin = @@margin + 40
                      = render "affiche_questions_yes"
                      - @@question_next_yes = Question.find_by id: @@question_next_yes.id_route_yes

                - @@margin = @@margin + 40
                = render "affiche_questions_yes_3"  
                / - puts  @@question_next_yes.to_yaml 
              - else
                - puts '666666666666666666666666666666666666666666666666'
                - puts '666666666666666666666666666666666666666666666666'
                - puts  @@question_next_yes.to_yaml
                - if @@question_next_yes.question_yes == true
                  - @@question_next_yes = Question.find_by id_route_yes: @@question_next_yes.id
                - else
                  - @@question_next_yes = Question.find_by id_route_no: @@question_next_yes.id
                - @@margin = @@margin - 40

                - puts '666666666666666666666666666666666666666666666666'
                - puts '666666666666666666666666666666666666666666666666'
                - puts '666666666666666666666666666666666666666666666666'
                - puts  @@question_next_yes.to_yaml 
            - else
              - bool_yes = false


          - puts "////////////////////////////////////////////////////////////////////////////"
          - puts "////////////////////////////////////////////////////////////////////////////"
          - puts "////////////////////////////////////////////////////////////////////////////"
          - puts "////////////////////////////////////////////////////////////////////////////"
          - puts "////////////////////////////////////////////////////////////////////////////"
          />>>>>>>>>> Deuxieme While Question_next_NO <<<<<<<<<<
          - if !@@question_next_no.id.nil?
            - while @@question_next_no.id_route_yes?
              - if @@question_next_no.id_route_yes?
                - if @@question_next_no.title_question != @question_first.title_question
                  - @@margin = @@margin + 40
                  = render "affiche_questions_no"
                  - @@question_next_no = Question.find_by id: @@question_next_no.id_route_yes
            - @@margin = @@margin + 40
            = render "affiche_questions_no_2"    
            = render "affiche_questions_no_3"      
            - puts @@question_next_no.to_yaml

            - bool_no = true
            / - if @@question_next_no.id_route_no?
            - while @@question_next_no.id != @question_first.id && bool_no == true
              - puts @@question_next_no.to_yaml
              - if @@question_next_no.id_route_no?
                - if !@@arr.include?(@@question_next_no.id_route_no)
                  - @@question_next_no = Question.find_by id: @@question_next_no.id_route_no
                  - if @@question_next_no.id_route_yes?
                    - while @@question_next_no.id_route_yes?
                      - if @@question_next_no.id_route_yes?
                        - @@margin = @@margin + 40
                        = render "affiche_questions_no"
                        - @@question_next_no = Question.find_by id: @@question_next_no.id_route_yes

                  - @@margin = @@margin + 40
                  = render "affiche_questions_no_3"  
                - else
                  - if @@question_next_no.question_yes == true
                    - @@question_next_no = Question.find_by id_route_yes: @@question_next_no.id
                  - else
                    - @@question_next_no = Question.find_by id_route_no: @@question_next_no.id 
                  - @@margin = @@margin - 40
              - else
                - bool_no = false

        


          
        / = @y.title_question if !(@y.nil?)
        / %br
        / - if !(@y.nil? )
        /   =  label_tag "YES :" , html: 
        /   = q.title_question
        / %br
        / - if !(@n.nil? )
        /   =  label_tag "NO :" 
        /   = q.title_question
        / - puts @y.to_yaml
        / - puts @n.to_yaml
      - if @decision_tree.questions.count < 1
        .col-md-4
          %h4 Nom de la question Question
          = form_tag [@decision_tree, @question] do |f|
            = label_tag "Question :"
            %br
            = text_field_tag  :title_question
            %br
            = label_tag "YES :"
            %br
            = hidden_field_tag :question_yes, :value => true
            = text_field_tag  :title_questions_yes
            %br
            = label_tag "NO :"
            %br
            = hidden_field_tag :question_no, :value => false
            = text_field_tag  :title_questions_no
            %br
            = submit_tag "Valider" , class: "btn btn btn-primary" 
- else
  //-------------------------------------------------- PARTIE HL1/2 --------------------------------------------------
  - if !@question_first.nil?
    = label_tag "Titre Question :" 
    - puts @question_first.title_question
    - puts '***************************************************'
    = @question_first.title_question

    %br
    / = label_tag :Id_route_yes, "Yes", :value => "Yes" 
    / = radio_button_tag 'Id_route_yes', 'true'
    / #question_yes{style: "visibility:hidden;"}
    /   ggggggggggggggg

    / %br
    / = label_tag :Id_route_no, "No", :value => "No" 
    / = radio_button_tag 'Id_route_yes', 'false'
    / #question_no{style: "visibility:hidden;"}
    /   azdazda
    - cpt = 0 
    - @@question_next_yes = @question_first
    - @@question_next_no = @question_first
    - @margin = 10
    
    = button_tag "YES", class: "btn btn-primary", value: @question_first.id_route_yes, id: @@question_next_yes.id, :onclick => "titi(#{@decision_tree.id},#{@@question_next_yes.id},'yes',0,10)"
    %div{id: "YESS0"}
    
    = button_tag "NON", class: "btn btn-primary", value: @@question_next_no.id_route_yes, id: @@question_next_no.id_route_no, :onclick => "titi(#{@decision_tree.id},#{@@question_next_no.id},'no',0,10)"

    %div{id: "NO0"}

    / - while @@question_next_yes.id_route_yes?
    /   - if @@question_next_yes.title_question != @question_first.title_question
    /     %br
    /     //%span{id: "toto" , data:{idyes: @@question_next_yes.id_route_yes, idno: @@question_next_yes.id_route_no}}  
    /     %span{style: "margin-left: "+@margin.to_s+"px;"}
    /       = button_tag "YES", class: "btn btn-primary", value: @question_first.id_route_yes, id: @@question_next_yes.id, :onclick => "titi(#{@decision_tree.id},#{@@question_next_yes.id})"
    /       - if @question.id == @@question_next_yes.id
    /         %b= @@question_next_yes.title_question
    /       - else
    /         = @@question_next_yes.title_question
    /   - @@question_next_yes = Question.find_by decision_tree_id: @decision_tree.id ,id: @@question_next_yes.id_route_yes
    /   - @margin = @margin + 40
    /   - cpt = cpt + 1
    / %br
    / %span{style: "margin-left: "+@margin.to_s+"px;"}
    /   = button_tag "YES", class: "btn btn-primary", value: @question_first.id_route_yes, id: @@question_next_yes.id_route_yes
    /   - if @question.id == @@question_next_yes.id
    /     %b= @@question_next_yes.title_question
    /   - else
    /     = @@question_next_yes.title_question
    / - @@question_next_no = Question.find_by decision_tree_id: @decision_tree.id ,id_route_yes: @@question_next_yes.id
    / - @@question_next_no = Question.find_by decision_tree_id: @decision_tree.id ,id: @@question_next_no.id_route_no
    
    / %br
    / %span{style: "margin-left: "+@margin.to_s+"px;"}
    /   = button_tag "NON", class: "btn btn-primary", value: @question_first.id_route_yes, id: @@question_next_no.id_route_no

    /   - if @question.id == @@question_next_no.id
    /     %b= @@question_next_no.title_question
    /   - else
    /     = @@question_next_no.title_question
    / - @margin = @margin - 40
    / - cpt2 = 0
    
    / - while cpt > 1
    /   - puts "Compteur : "+ cpt.to_s
    /   - puts "Avant remonter "
    /   - puts @@question_next_no.to_yaml
    /   - puts "remonter 1"
    /   - @@question_next_no = Question.find_by decision_tree_id: @decision_tree.id ,id_route_no: @@question_next_no.id
    /   - puts @@question_next_no.to_yaml
    /   - puts "remonter 2"
    /   - @@question_next_no = Question.find_by decision_tree_id: @decision_tree.id ,id_route_yes: @@question_next_no.id
    /   - puts @@question_next_no.to_yaml
    /   - puts "fill question no"
    /   - @@question_next_no = Question.find_by decision_tree_id: @decision_tree.id ,id: @@question_next_no.id_route_no
    /   - puts @@question_next_no.to_yaml
      
    /   %br
    /   %span{style: "margin-left: "+@margin.to_s+"px;"}
    /     = button_tag "NON", class: "btn btn-primary", value: @@question_next_no.id_route_yes, id: @@question_next_no.id_route_no
    /     - if @question.id == @@question_next_no.id
    /       %b= @@question_next_no.title_question
    /     - else
    /       = @@question_next_no.title_question
    /   - cpt = cpt - 1
    /   - @margin = @margin - 40
    
    / %br

    




  


