/ %h1 Question#NEW
%h1 
.container
  .row
    .col-sm-10
      %h2= @decision_tree.title_decision_tree
    .col-sm-1
      = button_to 'modifier le nom arbre décision',decision_tree_path(@decision_tree), class: "btn btn btn-primary", :method => :get
      %br
      = button_to 'retour vers l\'arbre de décision',new_decision_tree_question_path(@decision_tree), class: "btn btn btn-warning", :method => :get



- if current_user.is? :ADMIN
  .container
    .row
      .col-md-8
      .col-md-4
      %h4= @question.title_question
      = form_tag [@decision_tree, @question_new] do |f|
        = label_tag "Question :"
        %br
        = text_field_tag  :title_question, "#{@question.title_question}", disabled: true,size: 80
        = hidden_field_tag :question, @question.id
        %br
        = label_tag "YES :"
        %br
        = text_field_tag  :title_questions_yes, "",size: 80

        %br
        = label_tag "NO :"
        %br
        = text_field_tag  :title_questions_no, "",size: 80
        %br
        = submit_tag "Valider" , class: "btn btn btn-primary" 
