
- if current_user.is? :ADMIN
  = link_to 'Ajouter un arbre de décision', new_decision_tree_path,style: ' -moz-user-select: none;background-image: none; border: 1px solid transparent; border-radius: 4px;   cursor: pointer; display: inline-block;  font-size: 14px; font-weight: normal;  line-height: 1.42857;  margin-bottom: 0;  padding: 6px 12px;   text-align: center;  vertical-align: middle;  white-space: nowrap; background-color: #337ab7; border-color: #2e6da4;  color: white;'
%br
%br
%table{:align => "center", :style => "width: 100%; border:none;"}
  %thead
    %tr
      %td{:align => "center"}
        %b ID
      %td{:align => "center"}
        %b Titre
      %td{:align => "center"}
        %b Nombre Questions
      
      - if current_user.is? :ADMIN
        %td{:align => "center"}
          %b Supprimer
           
  %tbody
    - @decision_trees.each do |decision_tree|
     
      %tr
        %td{:align => "center"}
          = link_to decision_tree.id, new_decision_tree_question_path(decision_tree)
        %td{:align => "center"}
          = link_to decision_tree.title_decision_tree, new_decision_tree_question_path(decision_tree)
        %td{:align => "center"}
          = link_to decision_tree.questions.count, new_decision_tree_question_path(decision_tree)
        
        - if current_user.is? :ADMIN

          %td{:align => "center"}
            = link_to 'Supprimer', decision_tree, :remote => true, method: :delete, data: { confirm: "Etes vous sur de vouloir supprimer l'arbre de décision ainsi que toutes ses questions ?" },:class => 'delete_decision_tree',style: ' -moz-user-select: none;background-image: none; border: 1px solid transparent; border-radius: 4px;   cursor: pointer; display: inline-block;  font-size: 14px; font-weight: normal;  line-height: 1.42857;  margin-bottom: 0;  padding: 6px 12px;   text-align: center;  vertical-align: middle;  white-space: nowrap; background-color: #d9534f; border-color: #d43f3a;  color: white;'