/ Liste des relevés compteurs 

%h2 Relevé compteur Non validé :
- if @releve_compteurs_false.count > 0
  %table{:align => "center", :style => "border:none; width: 100%;"}
    %thead
      %tr
        %td{:align => "center"}
          %b ID
        %td{:align => "center"}
          %b Relevé compteur
        %td{:align => "center"}
          %b Date Ajout
        %td{:align => "center"}
          %b Ajouté par
        %td{:align => "center"}
          %b Valider
        %td{:align => "center"}
          %b Supprimer
    %tbody
      - @releve_compteurs_false.each do |releve_compteur|
        - @date = UserAddReleveCompteur.find_by releve_compteur_id: releve_compteur.id
        - if !@date.blank?
          - @user = User.find(@date.user_id)
        %tr
          %td{:align => "center"}
            = link_to releve_compteur.id, releve_compteur
          %td{:align => "center"}
            = link_to "voir relevé compteur", releve_compteur
          %td{:align => "center"}
            - if !@date.blank?
              = link_to "#{@date.date_add}", incident
            - else
              %p Il n'y a de date pour cette incident.
          %td{:align => "center"}
            - if !@date.blank?
              %b 
                = link_to @user.first_name  , user_path(@user)
                = link_to @user.last_name , user_path(@user)
            - else
              Pas d'utilisateur.
          %td{:align => "center"}
            = simple_form_for releve_compteur , url: update_valide_releve_compteur_path(releve_compteur),data: { confirm: "Etes vous sur de vouloir valider ce relevé compteur ?" },:method => 'patch'  do |f| |
              / = f.hidden_field :valide_releve_compteur, :value => true
              = f.button :submit, class: "btn btn-primary", :value => 'valider'
          %td{:align => "center"}
            = link_to 'Supprimer', releve_compteur, :remote => true, method: :delete, data: { confirm: "Etes vous sur de vouloir supprimer le relevé compteur ?" },:class => 'delete_releve_compteur',style: ' -moz-user-select: none;background-image: none; border: 1px solid transparent; border-radius: 4px;   cursor: pointer; display: inline-block;  font-size: 14px; font-weight: normal;  line-height: 1.42857;  margin-bottom: 0;  padding: 6px 12px;   text-align: center;  vertical-align: middle;  white-space: nowrap; background-color: #d9534f; border-color: #d43f3a;  color: white;'
- else
  %p Il n'y a pas de relevé compteur non validé.
%h2 Relevé compteur validé :

- if @releve_compteurs_true.count > 0
  %table{:align => "center", :style => "border:none; width: 100%;"}
    %thead
      %tr
        %td{:align => "center"}
          %b ID
        %td{:align => "center"}
          %b Relevé compteur
        %td{:align => "center"}
          %b Date Ajout
        %td{:align => "center"}
          %b Ajouté par
        %td{:align => "center"}
          %b Supprimer
    %tbody
      - @releve_compteurs_true.each do |releve_compteur|
        - @date = UserAddReleveCompteur.find_by releve_compteur_id: releve_compteur.id
        - if !@date.blank?
          - @user = User.find(@date.user_id)
        %tr
          %td{:align => "center"}
            = link_to releve_compteur.id, releve_compteur
          %td{:align => "center"}
            = link_to "voir relevé compteur", releve_compteur
          %td{:align => "center"}
            - if !@date.blank?
              = link_to "#{@date.date_add}", releve_compteur
            - else
              %p Il n'y a de date pour ce releve_compteur.
          %td{:align => "center"}
            - if !@date.blank?
              %b 
                = link_to @user.first_name  , user_path(@user)
                = link_to @user.last_name , user_path(@user)
            - else
              Pas d'utilisateur.
         
          %td{:align => "center"}
            = link_to 'Supprimer', releve_compteur, :remote => true, method: :delete, data: { confirm: "Etes vous sur de vouloir supprimer le relevé compteur ?" },:class => 'delete_releve_compteur',style: ' -moz-user-select: none;background-image: none; border: 1px solid transparent; border-radius: 4px;   cursor: pointer; display: inline-block;  font-size: 14px; font-weight: normal;  line-height: 1.42857;  margin-bottom: 0;  padding: 6px 12px;   text-align: center;  vertical-align: middle;  white-space: nowrap; background-color: #d9534f; border-color: #d43f3a;  color: white;'
- else
  %p Il n'y a pas de relevé compteur validé.
