%h3
  %b Releve Compteur : 
  #{@releve_compteur.id}
  %span{style:"float: right;"}
    - if !@user.blank?
      %b Ajouter par :
      = @user.last_name
      = @user.first_name
    - if !@date_rc.blank?
      %b Le : 
      = @date_rc.date_add
%h3
  / %span{style:"float: right;"}
  %b Système d'impression : 
  #{@printer.code_printers}


= simple_form_for @releve_compteur, data: { confirm: "Etes vous sur de vouloir modifier la methode releve compteur ?" }, method: :patch do |f|
  %table.table.table-bordered
    %thead
      %tr
        %th{style: "text-align: center;"} Description
        - if current_user.is? :ADMIN 
          %th{style: "text-align: center;"} Statut
          %th{style: "text-align: center;"} Modifier
        
    %tbody
      %tr
        
        %td
          - if current_user.is? :ADMIN
            / = f.text_area :description_releve_compteurs, label: false,:cols => 40, :rows => 8 ,:input_html => { :size => 18, :maxlength => 20 , value: @releve_compteur.description_releve_compteurs}
            = f.cktext_area :description_releve_compteurs , :ckeditor => {:height => '250'},:spellcheck => false, :required => true , :value => @releve_compteur.description_releve_compteurs
          - else 
            = cktext_area_tag :description_printers ,  @releve_compteur.description_releve_compteurs, disabled: true
       
       

        - if current_user.is? :ADMIN 
          %td
            = @releve_compteur.valide_releve_compteurs
          %td
            = f.button :submit, class: "btn btn-primary", value:'Modifier'
   
      
            
     
- if current_user.is? :ADMIN
  -if @releve_compteur.valide_releve_compteurs == false
    = simple_form_for @releve_compteur,url: valide_releve_compteur_path(@releve_compteur), data: { confirm: "Etes vous sur de vouloir valider le releve compteur ?" } do |f|
      = f.hidden_field :valide_releve_compteurs, :value => true
      = f.button :submit, class: "btn btn-success btn-sm btn-block", value:"Valider le releve compteur"
  %br
  = simple_form_for @releve_compteur ,url: delete_releve_compteur_path(@releve_compteur),data: { confirm: "Etes vous sur de vouloir supprimer la methode releve compteur ?" }, method: :delete do |f|
    = f.hidden_field :id, :value => @releve_compteur.id
    = f.button :submit, class: "btn btn-danger btn-sm btn-block", value:"Supprimer le relevé compteur"
%br

= link_to " Retour en arriere ", :back ,class:  "glyphicon glyphicon-arrow-left"
/ = link_to "retour en arriere", :back ,class:  "glyphicon glyphicon-arrow-left"
