/ Voir et modifier les informations d'un incident

%h1
  %b Incident :
  #{@incident.id}
  %span{style:"float: right;"}
    - if !@user.blank?
      %b Ajouté par :
      = @user.last_name
      = @user.first_name
    - if !@date_inci.blank?
      %b Le : 
      = @date_inci.date_add
%h1
  %b Système d'impression :
  #{@printer.code_printers}
- if current_user.is? :ADMIN   
  = simple_form_for @incident, data: { confirm: "Etes vous sur de vouloir modifier l'incident ?" }, method: :patch do |f|
    = f.label "Description"
    %td= f.cktext_area :description_incidents, label: false ,:input_html => { :size => 18, :maxlength => 20 , value: @incident.description_incidents}
    = f.label "Solution"
    %td
      = f.cktext_area :solution_incidents, label: false ,:input_html => { :size => 35, :maxlength => 50 , value: @incident.solution_incidents}
    %td= f.button :submit, class: "btn btn-block btn-primary btn-sm", value:'Modifier', id: 'edit-button'
- else
  = simple_form_for @incident, data: { confirm: "Etes vous sur de vouloir modifier l'incident ?" }, method: :patch do |f|
    = f.label "Description"
    %td= f.cktext_area :description_incidents, disabled: true, label: false ,:input_html => { :size => 18, :maxlength => 20 , value: @incident.description_incidents}
    = f.label "Solution"
    %td
      = f.cktext_area :solution_incidents, label: false , disabled: true,:input_html => { :size => 35, :maxlength => 50 , value: @incident.solution_incidents}


- if current_user.is? :ADMIN
  -if @incident.valide_incidents == false
    %br
    = button_to "Valider l'incident",update_valide_incident_path, data: { confirm: "Etes vous sur de vouloir valider l'incident ?" }, method: :patch, class: "btn btn-block btn-success btn-sm"
  %br
  = button_to "Supprimer l'incident",delete_incident_path, data: { confirm: "Etes vous sur de vouloir supprimer l'incident ?" }, method: :delete, class: "btn btn-block btn-danger btn-sm"
%br
%br
%br
= link_to " Retour en arriere ", :back ,class:  "glyphicon glyphicon-arrow-left",  data: { no_turbolink: true }