/ Incidents ajoutés par un utilisateur

%H1 
  Les Incidents ajouter par 
  %b= @user.last_name 
  %b= @user.first_name

%table.table-bordered{:style => "width: 940px; text-align: center; "}
  %thead
    %th{:style => "text-align: center;"} Date
    %th{:style => "text-align: center;"} ID incident
    %th{:style => "text-align: center;"} Code incident
    %th{:style => "text-align: center;"} Intitule incident
  %tbody
    - @user_add_incidents.each do |i| 
      - puts i.incident_id
      - @@incident = Incident.find(i.incident_id)
      %tr
        %td
          = i.date_add
          = i.hour_add+":"+i.minute_add
          
        
        %td= link_to i.incident_id ,incident_path(@@incident) 
        %td= link_to @@incident.code_incidents ,incident_path(@@incident) 
        %td= link_to @@incident.intitule_incidents ,incident_path(@@incident) 