%h2{:align => "center"}
  %b
    %u 
      Manage Utilisateur : 
  %br/
  %b   
    Nb utilisateurs : 
    = @users.count

%h3 Utilisateurs non validé :
%table.table-bordered{:style => "width: 940px;text-align: center; "}
  %thead
    %th{:style => "text-align: center;"} ID
    %th{:style => "text-align: center;"}Email
    %th{:style => "text-align: center;"} Login
    %th{:style => "text-align: center;"} Prenom
    %th{:style => "text-align: center;"} Nom
    %th{:style => "text-align: center;"} Role
    %th{:style => "text-align: center;"} Modifier
    %th{:style => "text-align: center;"} Validité
    %th{:style => "text-align: center;"} Activer
  %tbody
    - @users_non_valide.each do |user|
      %tr
        %td= user.id
        %td= user.email
        %td= user.login
        %td= user.last_name
        %td= user.first_name
        = simple_form_for(user, url: update_role_user_path(user),data: { confirm: "Etes vous sur de vouloir modifier le role de l'utilisateur #{user.first_name} #{user.last_name} ?" }, method: :patch) do |f|
          %td
            = f.collection_select :role, User::ROLES, :to_s, :humanize, value: user.role
          %td
            = f.button :submit, class: "btn btn-primary", :value => 'Modifier'
        %td= user.valide
        
        %td 
          = simple_form_for user , url: update_valide_user_path(user),data: { confirm: "Etes vous sur de vouloir activer l'utilisateur #{user.login} ?" },:method => 'patch'  do |f| |
            = f.hidden_field :valide, :value => true
            = f.button :submit, class: "btn btn-success", :value => 'Activer'

      / %td= link_to 'Valider', user, :remote => true, method: :patch, data: { confirm: "Etes vous sur de vouloir valider l'utilisateur ?" },:class => 'valide_user'

%br/
%br/
%br/
%br/
%h3 Utilisateurs validé :      
%table.table-bordered{:style => "width: 940px; text-align: center; "}
  %thead
    %th{:style => "text-align: center;"} ID
    %th{:style => "text-align: center;"} Email
    %th{:style => "text-align: center;"} Login
    %th{:style => "text-align: center;"} Prenom
    %th{:style => "text-align: center;"} Nom
    %th{:style => "text-align: center;"} Role
    %th{:style => "text-align: center;"} Modifier
    %th{:style => "text-align: center;"}Validité
    %th{:style => "text-align: center;"} Désactiver
  %tbody
    - @users_valide.each do |user|
      %tr
    
        %td= user.id
        %td= user.email
        %td= user.login
        %td= user.last_name
        %td= user.first_name
        = simple_form_for(user, url: update_role_user_path(user),data: { confirm: "Etes vous sur de vouloir modifier le role de l'utilisateur #{user.login} ?" }, method: :patch) do |f|
          %td
            = f.collection_select :role, User::ROLES, :to_s, :humanize, value: user.role
          %td
            = f.button :submit, class: "btn btn-primary", :value => 'Modifier'
        %td= user.valide
        %td
          = simple_form_for user , url: update_valide_user_path(user),data: { confirm: "Etes vous sur de vouloir désactiver l'utilisateur #{user.first_name} #{user.last_name} ?" },:method => 'patch'  do |f| |
            = f.hidden_field :valide, :value => false
            = f.button :submit, class: "btn btn-danger", :value => 'Desactiver'