%H1
  Utilisateur : 
  %b= @user.last_name
  %b= @user.first_name


#accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
  .panel.panel-default
    #headingOne.panel-heading{:role => "tab"}
      %h4.panel-title
        %a{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
          Utilisateur
    #collapseOne.panel-collapse.collapse.in{"aria-labelledby" => "headingOne", :role => "tabpanel"}
      .panel-body
        .container  
          .row
            .col-sm-3
              %H3 Incidents
              = link_to 'Incidents ajoutés', add_incidents_user_path
              / %span{style: "margin-left:50px;"}Total : 
              %span.badge= @count_add_incidents
              %br
              = link_to 'Incidents validés', valid_incidents_user_path
              / %span{style: "margin-left:50px;"}Total : 
              %span.badge= @count_valid_incidents
              %br
              / %span{style: "margin-left:50px;"}
              = link_to 'Incidents modifiés', update_incidents_user_path
              / %span{style: "margin-left:50px;"}Total : 
              %span.badge= @count_update_incidents_consommables


                
            .col-sm-3
              %H3 Consommables
              = link_to 'Consommables ajoutés', add_consommables_user_path
              / %span{style: "margin-left:50px;"}Total : 
              %span.badge= @count_add_consommables
              %br
              / %span{style: "margin-left:50px;"}
              = link_to 'Consommables validés', valid_consommables_user_path
              / %span{style: "margin-left:50px;"}Total : 
              %span.badge= @count_valid_consommables
              %br
              / %span{style: "margin-left:50px;"}
              = link_to 'Consommables modifiés', update_consommables_user_path
              / %span{style: "margin-left:50px;"}Total : 
              %span.badge= @count_update_consommables



            .col-sm-3
              %H3 Releve Compteurs
              = link_to 'Compteurs ajoutés', add_releve_compteurs_user_path
              / %span{style: "margin-left:50px;"}Total : 
              %span.badge= @count_add_releve_compteurs
              %br
              / %span{style: "margin-left:50px;"}
              = link_to 'Compteurs validés', valid_releve_compteurs_user_path
              / %span{style: "margin-left:50px;"}Total : 
              %span.badge= @count_valid_releve_compteurs
              %br
              / %span{style: "margin-left:50px;"}
              = link_to 'Compteurs modifiés', update_releve_compteurs_user_path
              / %span{style: "margin-left:50px;"}Total : 
              %span.badge= @count_update_releve_compteurs
              %br


            .col-sm-3
              %H3 Arbre de décisions
              = link_to 'Arbre de décisions ajoutés', add_decision_trees_user_path
              / %span{style: "margin-left:50px;"}Total : 
              %span.badge= @count_add_decision_trees
              %br
              / %span{style: "margin-left:50px;"}
              = link_to 'Arbre de décisions validés', valid_decision_trees_user_path
              / %span{style: "margin-left:50px;"}Total : 
              %span.badge= @count_valid_decision_trees
              %br
              / %span{style: "margin-left:50px;"}
              = link_to 'Arbre de décisions modifiés', update_decision_trees_user_path
              / %span{style: "margin-left:50px;"}Total : 
              %span.badge= @count_update_decision_trees
              %br



  .panel.panel-default
    #headingTwo.panel-heading{:role => "tab"}
      %h4.panel-title
        %a.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo"}
          Recherche Détailler
    #collapseTwo.panel-collapse.collapse{"aria-labelledby" => "headingTwo", :role => "tabpanel"}
      .panel-body
        .container
          .row
            .col-sm-6
              .form-group
                date deb
                #datetimepicker_deb.input-group.date
                  %input#input_date_deb.form-control
                  / = f.input :date1, as: :string, input_html: { class: "form-control" }, label: false, required: true
                  %span.input-group-addon
                    %span.glyphicon.glyphicon-calendar

            .col-sm-6
              .form-group
                date fin
                #datetimepicker_fin.input-group.date
                  %input#input_date_fin.form-control
                  / = f.input :date2, as: :string, input_html: { class: "form-control" }, label: false, required: false
                  %span.input-group-addon
                    %span.glyphicon.glyphicon-calendar


        %br
        .container
          .row
            .col-sm-6
              Objet :
              %select#object.select.required.form-control{"aria-required" => "true", :name => "object", :required => "required"}
                %option{:value => "incidents"} Incidents
                %option{:value => "consommables"} Consommables
                %option{:value => "decision_trees"} Arbres de décision
                %option{:value => "releve_compteurs"} Relevé compteur
            .col-sm-6
              Action :
              %select#action.select.required.form-control{"aria-required" => "true", :name => "action", :required => "required"}
                %option{:value => "user_add_"} Ajouté
                %option{:value => "admin_valid_"} Validé
                %option{:value => "user_show_"} Consulté
                %option{:value => "user_update_"} Modifié
        %br
        .container
          .row
            %button.btn.btn-primary.btn-block#button_date Valider

        %br
        %span#result_ajax_user







/ %table.table-bordered{:style => "width: 940px; text-align: center; "}
/   %thead
/     %th{:style => "text-align: center;"} Date
/     %th{:style => "text-align: center;"} ID incident
/     %th{:style => "text-align: center;"} Nom incident
/   %tbody
/     %tr
/       %td qaz
/ = link_to "Back", :back



%br
%br
%br

/ .container
/   .row
/     .col-sm-6
/       .form-group
/         #datetimepicker_deb.input-group.date
/           %input.form-control{:type => "text"}/
/           %span.input-group-addon
/             %span.glyphicon.glyphicon-calendar{style: "decoration: none; background: grey;"}
/     .col-sm-6
/       .form-group
/         #datetimepicker_fin.input-group.date
/           %input.form-control{:type => "text"}/
/           %span.input-group-addon
/             %span.glyphicon.glyphicon-calendar




/ %input#dd{style: "visibility:hidden;"}