%H1
  Utilisateur : 
  %b= @user.last_name
  %b= @user.first_name
%H3 Incidents
= link_to 'Incidents ajoutés', add_incidents_user_path
/ %span{style: "margin-left:50px;"}Total : 
%span.badge= @count_add_incidents

%br
= link_to 'Incidents validés', valid_incidents_user_path
/ %span{style: "margin-left:50px;"}Total : 
%span.badge= @count_valid_incidents
%br
/ %span{style: "margin-left:50px;"}
= link_to 'Incidents modifiés', update_incidents_user_path
/ %span{style: "margin-left:50px;"}Total : 
%span.badge= @count_update_incidents_consommables
%H3 Consommables
= link_to 'Consommables ajoutés', add_consommables_user_path
/ %span{style: "margin-left:50px;"}Total : 
%span.badge= @count_add_consommables
%br
/ %span{style: "margin-left:50px;"}
= link_to 'Consommables validés', valid_consommables_user_path
/ %span{style: "margin-left:50px;"}Total : 
%span.badge= @count_valid_consommables
%br
/ %span{style: "margin-left:50px;"}
= link_to 'Consommables modifiés', update_consommables_user_path
/ %span{style: "margin-left:50px;"}Total : 
%span.badge= @count_update_consommables
%H3 Releve Compteurs
= link_to 'Compteurs ajoutés', add_releve_compteurs_user_path
/ %span{style: "margin-left:50px;"}Total : 
%span.badge= @count_add_releve_compteurs
%br
/ %span{style: "margin-left:50px;"}
= link_to 'Compteurs validés', valid_releve_compteurs_user_path
/ %span{style: "margin-left:50px;"}Total : 
%span.badge= @count_valid_releve_compteurs
%br
/ %span{style: "margin-left:50px;"}
= link_to 'Compteurs modifiés', update_releve_compteurs_user_path
/ %span{style: "margin-left:50px;"}Total : 
%span.badge= @count_update_releve_compteurs
%br
%H3 Arbre de décisions
= link_to 'Arbre de décisions ajoutés', add_decision_trees_user_path
/ %span{style: "margin-left:50px;"}Total : 
%span.badge= @count_add_decision_trees
%br
/ %span{style: "margin-left:50px;"}
= link_to 'Arbre de décisions validés', valid_decision_trees_user_path
/ %span{style: "margin-left:50px;"}Total : 
%span.badge= @count_valid_decision_trees
%br
/ %span{style: "margin-left:50px;"}
= link_to 'Arbre de décisions modifiés', update_decision_trees_user_path
/ %span{style: "margin-left:50px;"}Total : 
%span.badge= @count_update_decision_trees
%br


/ %table.table-bordered{:style => "width: 940px; text-align: center; "}
/   %thead
/     %th{:style => "text-align: center;"} Date
/     %th{:style => "text-align: center;"} ID incident
/     %th{:style => "text-align: center;"} Nom incident
/   %tbody
/     %tr
/       %td qaz
/ = link_to "Back", :back
