/ Page principale pour rechercher les imprimantes, les consommables , les relevé compteurs et les arbre de décisions

#accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
  .panel.panel-default

    / RECHERCHE PRINTER
    #headingOne.panel-heading{:role => "tab"}
      %h4.panel-title
        %a{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
          Rechercher système d'impression
    #collapseOne.panel-collapse.collapse.in{"aria-labelledby" => "headingOne", :role => "tabpanel"}
      .panel-body
        %p Entrez le code du système d'impression a rechercher :
        = simple_form_for @printer, url: ajax_printer_printers_path(@printer) do |f|
          = f.input :code_printers, as: :string, :input_html => { :style => "width:500px",:autocomplete => "off" }, style: "display:none;", label: false, placeholder: "Entrez le code système d'impression", autocomplete: "off"


        #resultat_printers{:style => "margin-left: 10px;"}

        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
  .panel.panel-default
    / RECHERCHE INCIDENT
    #headingTwo.panel-heading{:role => "tab"}
      %h4.panel-title
        %a.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo"}
          Rechercher Incidents
    #collapseTwo.panel-collapse.collapse{"aria-labelledby" => "headingTwo", :role => "tabpanel"}
      .panel-body
        %p Entrez le code incident a rechercher :
        = simple_form_for @incident, url: search_incidents_path(@incident), method: :get do |f| 
          = f.autocomplete_field :code_incidents, autocomplete_incident_code_incidents_pages_path,:size => 75, :"data-autocomplete-label" => false,placeholder: "Entrez le code incident "
        #resultat_incidents{:style => "margin-left: 10px;"}
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br




  .panel.panel-default
    / RECHERCHE CONSOMMABLE
    #headingThree.panel-heading{:role => "tab"}
      %h4.panel-title
        %a.collapsed{"aria-controls" => "collapseThree", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree"}
          Rechercher Consommable
    #collapseThree.panel-collapse.collapse{"aria-labelledby" => "headingThree", :role => "tabpanel"}
      .panel-body
        = simple_form_for @consommable, :html => {:autocomplete => "off"}, url: ajax_consommable_consommables_path(@consommable) do |f|

          = f.input :code_consommables, as: :string, :input_html => { :style => "width:500px",:autocomplete => "off" }, style: "display:none;", label: false, placeholder: "Entrez le code consommable",  autosave: false
        %h3 Rechercher par :  
        %select#column_search
          %option{value: "code_consommables"} Code
          %option{value: "designation_consommables"} Designation
        #resultat_consommables{:style => "margin-left: 10px;"}
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br



  .panel.panel-default
    / RECHERCHE ARBRE DE DÉCISION
    #headingFour.panel-heading{:role => "tab"}
      %h4.panel-title
        %a.collapsed{"aria-controls" => "collapseFour", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFour"}
          Arbres de décisions
    #collapseFour.panel-collapse.collapse{"aria-labelledby" => "headingFour", :role => "tabpanel"}
      .panel-body

        = link_to "Consulter arbres de décisions",decision_trees_path,style: ' -moz-user-select: none;background-image: none; border: 1px solid transparent; border-radius: 4px;   cursor: pointer; display: inline-block;  font-size: 14px; font-weight: normal;  line-height: 1.42857;  margin-bottom: 0;  padding: 6px 12px;   text-align: center;  vertical-align: middle;  white-space: nowrap; background-color: #337ab7; border-color: #2e6da4;  color: white;'
        %br
        %br
        %br
        - if current_user.is? :ADMIN
          = link_to 'Ajouter un arbre de décision', new_decision_tree_path,style: ' -moz-user-select: none;background-image: none; border: 1px solid transparent; border-radius: 4px;   cursor: pointer; display: inline-block;  font-size: 14px; font-weight: normal;  line-height: 1.42857;  margin-bottom: 0;  padding: 6px 12px;   text-align: center;  vertical-align: middle;  white-space: nowrap; background-color: #337ab7; border-color: #2e6da4;  color: white;'
        %br
        %br
        %br
        %br
        %br
        %br
        %br


%br/
%br/
%br/
%br/
%br/
%br/
%br/
