/ Page pour ajouter une nouvelle imprimante


%h1{:align => "center"} Ajouter un système d'impression
.CSSTableGenerator
  = simple_form_for @printer do |f|
    %table
      %tr
        %td Code du système d'impression :
        %td Description du système d'impression :

      %tr
        %td.info
          .col-lg-9
            .input-group
              = f.input :code_printers , :required => true, :input_html => { :style => "width:250px" }, label: false, id: "dd"

        %td
          .col-lg-9
            .input-group
              = f.cktext_area :description_printers , :ckeditor => {:width => '800'}
      %tr
        %td
          %h3 Image
          = f.simple_fields_for :attachments do |p| 
            = p.input :file, as: :file, label: false
        %td
          %span.input-group-btn
            = f.button :submit, class: "btn btn-primary btn-block", value:'Valider'

%br/
%br/
%br/ 



