/ Voir et modifier les informations d'une imprimante
/ On accède égalements a tous les caractéristiques d'une imprimante comme : 
/ - la description
/ - les pièces jointes
/ - les incidents validés / non validés
/ - les consommables validés / non validés
/ - la méthode pour relevé les compteurs validés / non validés




/ .container
.row
  .col-xs-3
    %h3
      Système d'impression :
  .col-xs-3
    / Donner l'autorisation de mofidier le code printer si l'user est ADMIN
    - if current_user.is? :ADMIN
      / Modifier le code_printer de l'imprimante
      = simple_form_for(@printer, url: update_code_printers_printer_path(params[:id]),data: { confirm: "Etes vous sur de vouloir modifier le code du système d'impression ?" }, method: :patch) do |f|
        %b
          = f.input :code_printers , :input_html => { :style => "width:100%;" }, label: false, value: @printer.code_printers
        = f.button :submit, class: "btn btn-block btn-sm btn-primary", value:'Modifier'
      / Sinon afficher le code_printer en dur
    - else
      %br
      %b= @printer.code_printers 
  .col-xs-1{style: "margin-top: 15px;"} 
    / Si l'utilisateur est AMDIN, permettre de supprimer l'imprimante et ses composants
    - if current_user.is? :ADMIN
      = button_to "Supprimer", @printer, method: :delete, data: { confirm: "Etes vous sur de vouloir supprimer le système d'impression et tous ces composants ?" }, class: "btn btn btn-danger"
  .col-xs-2
    %h3{style: "text-align:center;"}
      NbIncident  :
      %b
        = @NbIncident
  .col-xs-2
    %h3
      NbConso  :
      %b
        = @Nbconsommable
%br

/ Menu de l'utilisateur : Description / Incident / Consommable / Compteur / Ajouter 
.dropdown
  %ul#myTab.nav.nav-tabs{:role => "tablist"}
    %li.active
      %a{"data-toggle" => "tab", :href => "#descriptImprimante", :role => "tab"} Description Système d'impression
    - if current_user.is? :ADMIN
      %li.dropdown
        %a#myTabDrop1.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          Incident
          %span.caret
        %ul.dropdown-menu{"aria-labelledby" => "myTabDrop1", :role => "menu"}
          %li
            %a{"data-toggle" => "tab", :href => "#incidentTrue", :role => "tab"} Incidents Validés
          %li
            %a{"data-toggle" => "tab", :href => "#incidentFalse", :role => "tab"} Incidents Non Validés
    - else
      %li
        %a{"data-toggle" => "tab", :href => "#incidentTrue", :role => "tab"} Incidents


    - if can? :valide, Consommable
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          Consommable
          %span.caret
        %ul.dropdown-menu{"aria-labelledby" => "myTabDrop1", :role => "menu"}
          %li
            %a{"data-toggle" => "tab", :href => "#consommableTrue", :role => "tab"} Consommables Validés
          %li
            %a{"data-toggle" => "tab", :href => "#consommableFalse", :role => "tab"} Consommables Non Validés
    - else
      %li
        %a{"data-toggle" => "tab", :href => "#consommableTrue", :role => "tab"} Consommables


    - if can? :valide, ReleveCompteur
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          Compteur
          %span.caret
        %ul.dropdown-menu{"aria-labelledby" => "myTabDrop1", :role => "menu"}
          %li
            %a{"data-toggle" => "tab", :href => "#compteurTrue", :role => "tab"} Compteurs Validés
          %li
            %a{"data-toggle" => "tab", :href => "#compteurFalse", :role => "tab"} Compteurs Non Validés
    - else
      %li
        %a{"data-toggle" => "tab", :href => "#compteurTrue", :role => "tab"} Compteurs
    
    
    %li.dropdown
      - if can? :create, Incident
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          Ajouter
          %span.caret
      %ul.dropdown-menu{"aria-labelledby" => "myTabDrop1", :role => "menu"}
        %li
          %a{"data-toggle" => "tab", :href => "#ajouterIncident", :role => "tab"} Incident
        %li
          %a{"data-toggle" => "tab", :href => "#ajouterConsommable", :role => "tab"} Consommable
        %li
          %a{"data-toggle" => "tab", :href => "#ajouterCompteur", :role => "tab"} Compteur
       
  / Tab panes
  .tab-content
    / Onglet DESCRIPTION IMPRIMANTE
    #descriptImprimante.tab-pane.fade.in.active{"border-radius" => "10px"}
      %h3
        %u Description du système d'impression :
      
      #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
      .panel.panel-default
        #headingOne.panel-heading{:role => "tab"}
          %h4.panel-title
            %a{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
              %b Caractéristique et image du système d'impression
        #collapseOne.panel-collapse.collapse.in{"aria-labelledby" => "headingOne", :role => "tabpanel"}
          .panel-body
            /Si il y a au moin 1 pièce jointe
            - if @printer.attachments.count > 0
              / ****************** Slide des images : ******************
              #carousel-example-generic.carousel.slide{:style => "width:300px; float:left;","data-ride" => "carousel", "data-spy" => "scroll"}
                / Indicators
                %ol.carousel-indicators
                  %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
                  / Afficher que les images dans le carousel (pas les pdf)
                  - if File.extname(@attachments[0].file.to_s) != ".pdf"
                    - for i in 1..@attachments.count - 1
                      - if File.extname(@attachments[i].file.to_s) != ".pdf"
                        %li{"data-slide-to" => "i", "data-target" => "#carousel-example-generic"}
                  
                / Wrapper for slides
                .carousel-inner{:role => "listbox"}
                  - if @attachments.count > 0
                    .item.active
                      / On affiche la 1ere image
                      = image_tag(@attachments[0].file_url(:thumb),:style => "margin-left:70px;margin-top:25%;")
                      %p
                        = File.basename(@attachments[0].file.to_s)
                      .carousel-caption
                    / Puis on boucle pour afficher les autres
                    - @attachments.each do |a|
                      - if a.file != @attachments[0].file && File.extname(a.file.to_s) != ".pdf"
                        .item
                          = image_tag(a.file_url(:thumb),:style => "margin-left:70px;margin-top:25%;")
                          %p
                            = File.basename(a.file.to_s)
                / Controls
                %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic", :role => "button"}
                  %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
                  %span.sr-only Previous
                %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic", :role => "button"}
                  %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
                  %span.sr-only Next
              
            - if current_user.is? :ADMIN
              = simple_form_for(@printer, url: update_description_printer_path(params[:id]),data: { confirm: "Etes vous sur de vouloir modifier la description ?" }, method: :patch) do |f|
                %table.table-bordered{:style => "margin-left: inherit;"}
                  %tr
                    %td
                      = f.cktext_area :description_printers , :ckeditor => {:height => '250', :width => '780'},:spellcheck => false, :required => true , :value => @printer.description_printers
                  %tr
                    %td
                      = f.hidden_field :nature, :value => "description"
                      = f.button :submit, "Modifier" , class: "btn btn-sm btn-primary btn-block"
            - else
              %p
                = cktext_area_tag :description_printers ,  @printer.description_printers, disabled: true, :ckeditor => {:height => '250', :width => '1050'}
      / ************************** Colapse Pieces Jointes  du Printer : **************************
      / - if current_user.is? :ADMIN
      .panel.panel-default
        #headingTwo.panel-heading{:role => "tab"}
          %h4.panel-title
            %a.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo"}
              %b Pieces Jointes du système d'impression
        #collapseTwo.panel-collapse.collapse{"aria-labelledby" => "headingTwo", :role => "tabpanel"}
          .panel-body
            - if current_user.is? :ADMIN
              = simple_form_for(@printer, url: update_description_printer_path(params[:id]),data: { confirm: "Etes vous sur de vouloir modifier les pieces jointes ?" }, method: :patch) do |f|
                %table.navBar.table-bordered{:style => "margin-left: inherit; width: 100%;"}
                  %tr
                    %td
                      %table.table-bordered{:style => "margin-left: 0px;width:100%;"}
                        %thead
                          %th Nom
                          %th Choisir fichier
                          %th Supprimer
                        %tbody
                          = f.simple_fields_for :attachments , @attachments  do |p| 
                            %tr
                              - if File.extname(@printer.attachments[p.index].file.to_s) != ".pdfr"
                                %td
                                  / Button trigger modal
                                  = link_to("#{File.basename(@printer.attachments[p.index].file.to_s)}", printer_download_path(:printer_id => @printer.id, :id => @printer.attachments[p.index].file.to_s ))
                               
                              %td
                                = p.input :file, as: :file, label: false, class: "uploadBox"
                              %td 
                                = link_to 'Supprimer', @printer.attachments[p.index], :remote => true, method: :delete, data: { confirm: "Etes vous sur de vouloir supprimer la pièce jointe ?" },:class => 'delete_attachment' , style: "color:red;"
         
                  %tr
                    %td
                      = f.hidden_field :nature, :value => "pj"
                      = f.button :submit, "Modifier les pieces jointes" , class: "btn btn-sm btn-primary btn-block", id: "update_attachments_printer",data:{delete: false}, :disabled => true
              %br/
              %span.glyphicon.glyphicon-paperclip
              %button.btn.btn-sm.btn-primary{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"}                Ajouter Nouvelle Piece Jointe
              / Modal
              #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1" }
                .modal-dialog
                  .modal-content{:style => "height:300px;"} 
                    .modal-header
                      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                        %span{"aria-hidden" => "true"} 
                      %h4#myModalLabel.modal-title Ajouter une nouvelle piece jointe
                    .modal-body
                      = simple_form_for @attachment do |f|
                        %table{:align => "left", :style => "border : none;"}
                          %tr
                            %td
                              = f.input :file, as: :file
                              = f.hidden_field :printer_id, :value => @printer.id
                            %td
                              %span.input-group-btn{style: "margin-left: 100px;"}
                                %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button", :style => "margin-right:9px; margin-left: 15px; border-radius: 4px;"} Fermer
                            %br
                            %td
                              = f.button :submit, "Valider" , class: "btn btn-primary "
                            %br
                            
                              
                                
            - else 
              %table.navBar.table-bordered{:style => "margin-left: inherit; width: 100%;"}
                %tr
                  %td
                    %table.table-bordered{:style => "margin-left: 0px;width:100%;"}
                      %thead
                        %th Nom
                      %tbody
                        
                        = simple_form_for(@printer, url: update_description_printer_path(params[:id]),data: { confirm: "Etes vous sur de vouloir modifier les pieces jointes ?" }, method: :patch) do |f|
                          = f.simple_fields_for :attachments , @attachments  do |p|
                            %tr
                              %td
                                / Button trigger modal
                                = link_to("#{File.basename(@printer.attachments[p.index].file.to_s)}", printer_download_path(:printer_id => @printer.id, :id => @printer.attachments[p.index].file.to_s ))

    / Fin de l'onglet
    / Onglet INCIDENT
    #incidentTrue.tab-pane.fade
      %h2{:align => "center"} Incidents du système d'impression :
      - if @incidents_true.count >= 1
        %table.table.table-bordered
          %thead
            %tr
              %th ID
              %th CodeIncident
              - if current_user.is? :ADMIN
                %th Supprimer 
          %tbody
            - @incidents_true.each do |incident|
              %tr
                %td= link_to incident.id, incident
                %td= link_to incident.code_incidents, incident
                - if current_user.is? :ADMIN 
                  %td= link_to 'Supprimer', incident, :remote => true, method: :delete, data: { confirm: "Etes vous sur de vouloir supprimer l'incident?" },:class => 'delete_incident',style: ' -moz-user-select: none;background-image: none; border: 1px solid transparent; border-radius: 4px;   cursor: pointer; display: inline-block;  font-size: 14px; font-weight: normal;  line-height: 1.42857;  margin-bottom: 0;  padding: 6px 12px;   text-align: center;  vertical-align: middle;  white-space: nowrap; background-color: #d9534f; border-color: #d43f3a;  color: white;'
     
      - else
        %p Il n'y a pas d'incident.
    / Fin de l'onglet
    #incidentFalse.tab-pane.fade
      %h2{:align => "center"} Incidents du système d'impression :
      - if @incidents_false.count >= 1
        %table.table.table-bordered
          %thead
            %tr
              %th ID
              %th CodeIncident
              - if current_user.is? :ADMIN
                %th Supprimer 
          %tbody
            - @incidents_false.each do |incident|
              %tr
                %td= link_to incident.id, incident
                %td= link_to incident.code_incidents, incident
                - if current_user.is? :ADMIN 
                  %td= link_to 'Supprimer', incident, :remote => true, method: :delete, data: { confirm: "Etes vous sur de vouloir supprimer l'incident?" },:class => 'delete_incident',style: ' -moz-user-select: none;background-image: none; border: 1px solid transparent; border-radius: 4px;   cursor: pointer; display: inline-block;  font-size: 14px; font-weight: normal;  line-height: 1.42857;  margin-bottom: 0;  padding: 6px 12px;   text-align: center;  vertical-align: middle;  white-space: nowrap; background-color: #d9534f; border-color: #d43f3a;  color: white;'
      - else        
        %p Il n'y a pas d'incident a valider.
    / Fin de l'onglet
    #consommableFalse.tab-pane.fade
      %h2 Consommable du système d'impression
      - if @consommables_false.count >= 1
        %table.table.table-bordered
          %thead
            %tr
              %th CodeConsommable
              %th DesignationConsommable
              %th Durée de vie
              %th Remplacement
              - if current_user.is? :ADMIN
                %th Valider 
                %th Supprimer 
                %th Supprimer définitivement
          %tbody
            - @consommables_false.each do |consommable|
              %tr
                %td= link_to  consommable.code_consommables , consommable
                %td= link_to  consommable.designation_consommables,consommable
                %td= link_to  consommable.duree_vie_consommables,consommable
                - @r = Replacement.find(consommable.replacement_id)
                %td= link_to  @r.name,consommable
                - if current_user.is? :ADMIN 
                  %td
                    = link_to 'Valider', consommable, :remote => true, method: :patch, data: { confirm: "Etes vous sur de vouloir valider le consommable?" },:class => 'update_consommables', style: ' -moz-user-select: none;background-image: none; border: 1px solid transparent; border-radius: 4px;   cursor: pointer; display: inline-block;  font-size: 14px; font-weight: normal;  line-height: 1.42857;  margin-bottom: 0;  padding: 6px 12px;   text-align: center;  vertical-align: middle;  white-space: nowrap; background-color: #337ab7; border-color: #2e6da4;  color: white;'

                  %td
                    %button.btn.btn-warning.delete-printers-consommable{data:{consommable: consommable.id, printer: @printer.id}}
                      Supprimer
                  %td
                    = link_to 'Supprimer définitivement', consommable, :remote => true, method: :delete, data: { confirm: "Etes vous sur de vouloir supprimer le consommable définitivement de tous les système d'impression ?"},:class => 'delete_printer_consommable',style: ' -moz-user-select: none;background-image: none; border: 1px solid transparent; border-radius: 4px;   cursor: pointer; display: inline-block;  font-size: 14px; font-weight: normal;  line-height: 1.42857;  margin-bottom: 0;  padding: 6px 12px;   text-align: center;  vertical-align: middle;  white-space: nowrap; background-color: #d9534f; border-color: #d43f3a;  color: white;'

      - else
        %p Il n'y a pas de consommable a valider.
    / Fin de l'onglet
    / Onglet CONSOMMABLE
    #consommableTrue.tab-pane.fade
      %h2 Consommable du système d'impression
      - if @consommables_true.count >= 1
        %table.table.table-bordered
          %thead
            %tr
              %th ID
              %th CodeConsommable
              %th DesignationConsommable
              %th Durée de vie
              %th Remplacement
              - if current_user.is? :ADMIN
                %th Supprimer 
                %th Supprimer définitivement
          %tbody.consommable_true_tbody
            - @consommables_true.each do |consommable|
              %tr
                %td= link_to  consommable.id  , consommable
                %td= link_to  consommable.code_consommables  , consommable
                %td= link_to  consommable.designation_consommables,consommable
                %td= link_to  consommable.duree_vie_consommables,consommable
                - @r = Replacement.find(consommable.replacement_id)
                %td= link_to  @r.name,consommable
                - if current_user.is? :ADMIN 
                  %td
                    %button.btn.btn-warning.delete-printers-consommable{data:{consommable: consommable.id}}
                      Supprimer
                  %td
                    = link_to 'Supprimer définitivement', consommable, :remote => true, method: :delete, data: { confirm: "Etes vous sur de vouloir supprimer le consommable définitivement de tous les système d'impression ?" },:class => 'delete_printer_consommable',style: ' -moz-user-select: none;background-image: none; border: 1px solid transparent; border-radius: 4px;   cursor: pointer; display: inline-block;  font-size: 14px; font-weight: normal;  line-height: 1.42857;  margin-bottom: 0;  padding: 6px 12px;   text-align: center;  vertical-align: middle;  white-space: nowrap; background-color: #d9534f; border-color: #d43f3a;  color: white;'
        
      - else
        %p Il n'y a pas de consommable à valider.
    / Fin de l'onglet
    / Onglet COMPTEUR Valider
    #compteurTrue.tab-pane.fade
      %h2 Relevé Compteur
      - if @releves_compteurs_true.count >= 1
        %table{:align => "center", :style => "width: 100%"}
          %thead
            %tr
              %th{:style => "text-align: center;"}
                ID
              %th{:style => "text-align: center;"}
                Méthode relevé compteur
              
              %th{:style => "text-align: center;"}
                Modifier ou supprimer le relevé compteur
              
          %tbody
            - @releves_compteurs_true.each do |releve_compteur|
              %tr
                %td{:align => "center"}
                  = link_to  releve_compteur.printer_id , releve_compteur
                %td{:align => "center"}
                  = cktext_area_tag("test_area#{releve_compteur.id}", releve_compteur.description_releve_compteurs, :disabled => true)
                %td{:align => "center"}
                  = link_to  "Voir relevé compteur", releve_compteur
                
      - else
        %p Il n'y a pas de releve compteur.
      
    / Fin de l'onglet
    #compteurFalse.tab-pane.fade
      %h2 Compteur Non validé
      - if @releves_compteurs_false.count >= 1
        %table.table-bordered{:align => "center", :style => "width: 100%;"}
          %thead
            %tr
              %th{:style => "text-align: center;"}
                ID
              %th{:style => "text-align: center;"}
                Méthode relevé compteur
              - if current_user.is? :ADMIN
                %th{:style => "text-align: center;"}
                  Valider modifier ou supprimer le relevé compteur

              
          %tbody
            - @releves_compteurs_false.each do |releve_compteur|
              %tr
                - if current_user.is? :ADMIN
                  %td{:align => "center"}
                    = link_to  releve_compteur.id, releve_compteur
                - else 
                  = releve_compteur.id
                %td{:align => "center"}
                  = cktext_area_tag("test_area#{releve_compteur.id}", releve_compteur.description_releve_compteurs, :disabled => true)
                - if current_user.is? :ADMIN
                  %td{:align => "center"}
                    = link_to  "Voir relevé compteur", releve_compteur
      - else
        %p Il n'y a pas de releve compteur a valider .
      

    / Onglet AJOUTERINCIDENT
    #ajouterIncident.tab-pane.fade
      %h2 AJOUTER INCIDENT
      = simple_form_for @incident do |f|
        .CSSTableGenerator
          .table-responsive
            %table.table
              %tr
                %td Code Incident :
                %td Intitulé Incident :
              %tr
                %td.info{style:"background-color: #ffffff;"}
                  .col-md-9{:style => "width: 100%"}
                    .form-group
                      = f.input :code_incidents ,label: false, :required => true ,:input_html => { :size => 40, :maxlength => 20}
                %td{}
                  .col-md-9{:style => "width: 100%"}
                    .form-group
                      = f.input :intitule_incidents ,label: false, :input_html => { :size => 40, :maxlength => 40 }
            %table.table.table-bordered
              %tr
                %td Description :
                %td Solution :
              %tr
                %td
                  = f.cktext_area :description_incidents , :required => true, input_html: {style: "width: 400px;"}
                %td
                  = f.cktext_area :solution_incidents , :required => true
                  = f.hidden_field :printer_id, :value => @printer.id
                  = f.hidden_field :valide_incidents, :value => false
              %tr
                %td{:colspan => "2"}
                  .modal-footer{:align => "center"}
                    = f.button :submit, class: "btn btn-primary btn-block", :value => 'Valider'
      / ------------------------- Fin div css GENERATOR -------------------------
    / Fin de l'onglet AJOUTERINCIDENT
    / ---------------------- PAGE CONSOMMABLE     ----------------------
    #ajouterConsommable.tab-pane.fade
      %h2 Ajouter Consommable
      / Nav tabs
      %ul.nav.nav-tabs{:role => "tablist"}
        %li.active
          %a{"data-toggle" => "tab", :href => "#addConso", :role => "tab"} Ajouter Consommable
        %li
          %a{"data-toggle" => "tab", :href => "#searchConso", :role => "tab"} Rechercher Consommable existant
      / Tab panes
      .tab-content
        #addConso.tab-pane.fade.in.active
          = simple_form_for @consommable do |f|
            .CSSTableGenerator
              %table
                %tr
                  %td Code :
                  %td Designation :
                  %td Remplacement :
                  %td Durée de vie (page):
                %tr
                  %td
                    .col-md-9{:style => "width: 100%"}
                      .form-group
                        = f.input :code_consommables, label: false ,required: true,:input_html => { :size => 40, :maxlength => 20 }
                      / /.col-lg-6
                    / /.row
                  %td
                    .col-md-9{:style => "width: 100%"}
                      .form-group
                        = f.input :designation_consommables, label: false ,required: true,:input_html => { :size => 40, :maxlength => 254 }
                  %td
                    .col-md-9{:style => "width: 100%"}
                      .form-group
                        = f.collection_select :replacement_id, Replacement.all ,:id, :name
                      / /.col-lg-6
                    / /.row
                    %td
                      .col-md-9{:style => "width: 100%"}
                        .form-group
                          = f.input :duree_vie_consommables,required: true, label: false,:input_html => { :min => "0",   :type => "number", :value => "0"}
                          


              = f.hidden_field :printer_id, :value => @printer.id
              = f.hidden_field :consommable_id, :value => @consommable.id
              = f.hidden_field :valide_consommables, :value => false
              %table
                %tr
                %tr
                  %td
                    .modal-footer{:align => "center"}
                      = f.button :submit, class: "btn btn-primary btn-block", :value => 'Valider'
        #searchConso.tab-pane.fade
        

          / ********************* AVEC  RAILS AUTOCOMPLETE *********************
          = simple_form_for @consommable, url: search_consommables_path(@printer), method: :get do |f| 
            = f.autocomplete_field :code_consommables, autocomplete_consommable_code_consommables_consommables_path,:size => 75, :"data-autocomplete-label" => false,placeholder: "Entrez le code consommable"
            = f.hidden_field :printer_id, :value => @printer.id

          %br
          %br
          %br
       
    / -----------------------------------------  FIN PAGE CONSOMMABLE ------------------------
    #ajouterCompteur.tab-pane.fade
      %h2 Ajouter Compteur
      = simple_form_for @releve_compteur do |f|
        .CSSTableGenerator
          %table
            %tr
              %td Description :
            %tr
              %td
                .col-md-9{:style => "width: 100%"}
                  .form-group
                    = f.cktext_area :description_releve_compteurs, label: false 
          = f.hidden_field :printer_id, :value => @printer.id
          = f.hidden_field :consommable_id, :value => @consommable.id
          = f.hidden_field :valide_releve_compteurs, :value => false
          %table
            %tr
            %tr
              %td
                .modal-footer{:align => "center"}
                  = f.button :submit, class: "btn btn-primary btn-block", :value => 'Valider'
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
