/ Rechercher un consommables pour ajouté la dépendance dans un printer

- if @return_value == false
  - @search_url = params[:consommable][:code_consommables]
  Le code consommable  
  %b= @search_url
  n'est pas complet ou n'existe pas. Pour l'ajouter, cliquez 
  = link_to 'ici.', printer_path(params[:consommable][:printer_id])+"#ajouterConsommable"
- if @search.blank? && @return_value == true
  %p Le consommable est déjà ajouté dans le système d'impression.
  = link_to " Retour en arriere ", :back ,class:  "glyphicon glyphicon-arrow-left"
-  if !@search.blank?
  %table{:align => "center", :style => "width: 100%; border:none;"}
    %thead
      %tr
        %td{:align => "center"}
          %b ID
        %td{:align => "center"}
          %b Code Consommable
        %td{:align => "center"}
          %b 
            Ajouter dans '
            = "#{@printer.code_printers}"
            '
    %tbody
      %tr
        %td{:align => "center"}
          =  @search.id
        %td{:align => "center"}
          =  @search.code_consommables
        %td{:align => "center"}
          = simple_form_for @printers_consommable  do |f|
            = f.hidden_field :printer_id, :value =>  params[:consommable][:printer_id]
            = f.hidden_field :consommable_id, :value => @search.id
            = f.button :submit, class: "btn  btn-primary", data: { confirm: "Etes vous sur de vouloir ajouter ce consommable dans le printer actuel ?" },:value => "Ajouter dans le systeme d'impression" 