
%h1
  Consommables : #{@consommable.id}
  valider :
  %span#valid-true-false
    #{@consommable.valide_consommables}
- if current_user.is? :ADMIN 
  - if @consommable.valide_consommables == false
    %td
      %button.btn.btn-primary#valid-consommable{data:{consommable: @consommable.id}}
        Valider le consommable
%br
%br

%span.a
  %b Liste imprimante Compatible

%select.a
  - if @list_printers_consommable.count >= 1  
    - @list_printers_consommable.each do |printer| 
      %option
        = printer.code_printers
  - else
    %option Pas de système d'impression.
%br
%br
%br
.container
  .row.text-center
    .formulaire
      = simple_form_for @consommable,url: update_attributes_consommable_path(@consommable), data: { confirm: "Etes vous sur de vouloir modifier consommable ?" }, method: :patch do |f|
        - @disabled = true
        - @disabled = false if current_user.is? :ADMIN
        %span.span_consommable
          %b Code Consommable
        = f.input :code_consommables, label: false ,:input_html => { :size => 18, :maxlength => 20 , value: @consommable.code_consommables}, :class => 'toto', disabled: @disabled 
        %br
        %span.span_consommable
          %b Designation Consommable
        = f.text_area :designation_consommables, label: false ,:input_html => { :size => 35, :maxlength => 254 , value: @consommable.designation_consommables},:cols => 35, :rows => 4, spellcheck: false, :class => 'toto',disabled: @disabled

        %span.span_consommable
          %b Remplacement Consommable
        - if current_user.is? :ADMIN
          = f.collection_select :replacement_id, Replacement.all ,:id, :name, prompt: @r.name, :class => 'toto',disabled: @disabled
        -else
          =  @r.name
        %br

        %span.span_consommable 
          %b Durée Vie Consommable
        = f.input :duree_vie_consommables, label: false ,:input_html => { :min => "0" ,:type => "number", value: @consommable.duree_vie_consommables}, :class => 'toto',disabled: @disabled
        %br  
        %br 
        - if current_user.is? :ADMIN
          = f.button :submit, class: "btn btn-primary toto ", value:'Modifier le consommable', :input_html => {style: "width:50px;"}




= link_to " Retour en arriere ", :back ,class:  "glyphicon glyphicon-arrow-left"

/ = simple_form_for @consommable,url: update_attributes_consommable_path(@consommable), data: { confirm: "Etes vous sur de vouloir modifier consommable ?" }, method: :patch do |f|
/   - @disabled = true
/   - @disabled = false if current_user.is? :ADMIN
/   = f.input :code_consommables, label: false ,:input_html => { :size => 18, :maxlength => 20 , value: @consommable.code_consommables}, disabled: @disabled 
  
/   = f.text_area :designation_consommables, label: false ,:input_html => { :size => 35, :maxlength => 50 , value: @consommable.designation_consommables},:cols => 35, :rows => 6, disabled: @disabled , spellcheck: false
/   = f.hidden_field :printer_id, :value => @printer.id

/   = f.collection_select :replacement_id, Replacement.all ,:id, :name, prompt: @r.name

/   = f.input :duree_vie_consommables, label: false ,:input_html => { :min => "0" ,:type => "number", value: @consommable.duree_vie_consommables}, disabled: @disabled 
/     / = @disabled
 
/     / = f.collection_select :show, :consommables, @list_printers_consommable, :to_s
/   / %select
/   /   - if @list_printers_consommable.count > 1 
/   /     - @list_printers_consommable.each do |printer| 
/   /       %option
/   /         = printer.code_printers
/   /   - else
/   /     %option Pas de système d'impression.

/   - if current_user.is? :ADMIN 
/     = f.button :submit, class: "btn btn-primary", value:'Modifier'
/ - if current_user.is? :ADMIN 
/   - if @consommable.valide_consommables == false
/     %td
/       %button.btn.btn-primary#valid-consommable{data:{consommable: @consommable.id}}
/         Valider
