/ Voir et modifier les informations d'un consommable

%h1
  %b Consommables : 
  #{@consommable.id}
  %b valider :
  %span#valid-true-false
    #{@consommable.valide_consommables}
  %span{style:"float: right;"}
    - if !@user.blank?
      %b Ajouté par :
      = @user.last_name
      = @user.first_name
    - if !@date_conso.blank?
      %b Le : 
      = @date_conso.date_add
%br

%span.a
  %b Liste imprimante Compatible

%select.a
  - if @list_printers_consommable.count >= 1  
    - @list_printers_consommable.each do |printer| 
      %option
        = printer.code_printers
  - else
    %option Pas de système d'impression.
%br
%br
%br
.container
  .row.text-center
    .formulaire
      = simple_form_for @consommable,url: update_attributes_consommable_path(@consommable), data: { confirm: "Etes vous sur de vouloir modifier consommable ?" }, method: :patch do |f|
        - @disabled = true
        - @disabled = false if current_user.is? :ADMIN
        %span.span_consommable
          %b Code Consommable
        = f.input :code_consommables, label: false ,:input_html => { :size => 18, :maxlength => 20 , value: @consommable.code_consommables}, :class => 'toto', disabled: @disabled 
        %br
        %span.span_consommable
          %b Designation Consommable
        = f.text_area :designation_consommables, label: false ,:maxlength => 254 ,:input_html => { :size => 35,  value: @consommable.designation_consommables},:cols => 35, :rows => 4, spellcheck: false, :class => 'toto',disabled: @disabled

        %span.span_consommable
          %b Remplacement Consommable
        - if current_user.is? :ADMIN
          = f.collection_select :replacement_id, Replacement.all ,:id, :name, prompt: @r.name, :class => 'toto',disabled: @disabled
        -else
          =  @r.name
        %br

        %span.span_consommable 
          %b Durée Vie Consommable
        = f.input :duree_vie_consommables, label: false ,:input_html => { :min => "0" ,:type => "number", value: @consommable.duree_vie_consommables}, :class => 'toto',disabled: @disabled
        %br  
        %br 
        - if current_user.is? :ADMIN
          = f.button :submit,align: "center", class: "btn btn-block btn-primary btn-sm", value:'Modifier le consommable'

- if current_user.is? :ADMIN 
  - if @consommable.valide_consommables == false
    %span{style: "margin-left:50%;"}
      %button.btn.btn-success.btn-sm.btn-block#valid-consommable{style: "width: 1000px; margin-left:auto; margin-right: auto;",data:{consommable: @consommable.id}}
        Valider le consommable
%br
= link_to " Retour en arriere ", :back ,class:  "glyphicon glyphicon-arrow-left",  data: { no_turbolink: true }

