%h1
  Consommables : #{@consommable.id}
  valider :
  %span#valid-true-false
    #{@consommable.valide_consommables}

%table.table.table-bordered
  %thead
    %tr
      %th CodeConsommable
      %th DesignationConsommable
      %th Remplacement
      %th Durée de vie (page)
      %th Printers
      - if current_user.is? :ADMIN
        %th Modifier
        - if @consommable.valide_consommables == false
          %th Valider
  %tbody
    %tr
      = simple_form_for @consommable,url: update_attributes_consommable_path(@consommable), data: { confirm: "Etes vous sur de vouloir modifier consommable ?" }, method: :patch do |f|
        - @disabled = true
        - @disabled = false if current_user.is? :ADMIN
        %td= f.input :code_consommables, label: false ,:input_html => { :size => 18, :maxlength => 20 , value: @consommable.code_consommables}, disabled: @disabled 
        %td
          = f.text_area :designation_consommables, label: false ,:input_html => { :size => 35, :maxlength => 50 , value: @consommable.designation_consommables},:cols => 35, :rows => 6, disabled: @disabled , spellcheck: false
          = f.hidden_field :printer_id, :value => @printer.id
        %td
          = f.collection_select :replacement_id, Replacement.all ,:id, :name, prompt: @r.name
        %td
          = f.input :duree_vie_consommables, label: false ,:input_html => { :min => "0" ,:type => "number", value: @consommable.duree_vie_consommables}, disabled: @disabled 
        %td
          %select
            - if @list_printers_consommable.count > 1 
              - @list_printers_consommable.each do |printer| 
                %option
                  = printer.code_printers
            - else
              %option Pas de système d'impression.

        - if current_user.is? :ADMIN 
          %td= f.button :submit, class: "btn btn-primary", value:'Modifier'
      - if current_user.is? :ADMIN 
        - if @consommable.valide_consommables == false
          %td
            %button.btn.btn-primary#valid-consommable{data:{consommable: @consommable.id}}
              Valider
